version: 2
jobs:
  build:
    docker:
      - image: node:latest
      - image: postgres:latest
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
      - image: redislabs/redismod:latest
    working_directory: ~/repo
    steps:
      - checkout:
          path: ~/repo
      - restore_cache:
          keys:
            - v1-dependencies-{{checksum "package.json"}}
            - v1-dependencies-
      - run: npm i
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{checksum "package.json"}}
      - run: npm run build
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Install Docker Client
          command: |
            set -x
            VER="18.06.3-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
      - run: docker build --build-arg CORS_ORIGIN=$CORS_ORIGIN
          --build-arg CORS_ORIGIN=$HIVE_ACCOUNT
          --build-arg CORS_ORIGIN=$ACTIVE_WIF
          --build-arg CORS_ORIGIN=$RC_THRESHOLD
          --build-arg CORS_ORIGIN=$AWS_ID
          --build-arg CORS_ORIGIN=$AWS_KEY
          --build-arg CORS_ORIGIN=$SECRET
          -f Dockerfile.prod -t dokku/backend:latest .
      - run: npm run ci:docker